spring:
  application:
    name: emarket-api

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: org.postgresql.Driver #
    url: jdbc:postgresql://localhost:5432/emarket
    username:
    password:

server:
  port: 8080